
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=$projectpath$/css/normalize.css>
    <link rel="stylesheet" href=$projectpath$/css/style.css>
    <title>Example</title>
</head>

<body>
<div id="demo">
<h1>minimalistic</h1>

<h2>Test Specification</h2>

<a href=$spec$>$spec$</a>

<h2>Rankings</h2>

<a href=$rank$>$rank$</a>

<h2>Tournaments</h2>

<a href=$tour$>$tour$</a>

<h2>Haddock</h2>

$for(haddocks)$
<a href=$haddock$>$haddock$</a>
$endfor$

<h2>HLint</h2>

<a href=$hlint$>$hlint$</a>

<h2>Homplexity</h2>

<a href=$homplexity$>$homplexity$</a>

<h2>HPC</h2>

<a href=$hpc$>$hpc$</a>

<h2>CodeWorld</h2>

$for(cws)$
<a href=$cw$>$cw$</a>
$endfor$
</div>
</body>

</html>


