[submodule "packages/debug"]
	path = packages/debug
	url = https://github.com/hpacheco/debug
[submodule "packages/gloss-window"]
	path = packages/gloss-window
	url = https://github.com/hpacheco/gloss-window
[submodule "packages/Graphalyze"]
	path = packages/Graphalyze
	url = https://github.com/hpacheco/Graphalyze
[submodule "packages/SourceGraph"]
	path = packages/SourceGraph
	url = https://github.com/hpacheco/SourceGraph
[submodule "packages/homplexity"]
	path = packages/homplexity
	url = https://github.com/hpacheco/homplexity
[submodule "packages/snaplet-acid-state"]
	path = packages/snaplet-acid-state
	url = https://github.com/hpacheco/snaplet-acid-state
[submodule "packages/snap-extras"]
	path = packages/snap-extras
	url = https://github.com/hpacheco/snap-extras
[submodule "packages/Hoed"]
	path = packages/Hoed
	url = https://github.com/hpacheco/Hoed
[submodule "packages/hakyll"]
	path = packages/hakyll
	url = https://github.com/hpacheco/hakyll
[submodule "packages/ghcjs-fetch"]
	path = packages/ghcjs-fetch
	url = https://github.com/hpacheco/ghcjs-fetch
[submodule "packages/jmacro"]
	path = packages/jmacro
	url = https://github.com/hpacheco/jmacro
