constraints:
   Cabal==2.2.0.1
  ,array==0.5.2.0
  ,base==4.11.1.0
  ,binary==0.8.5.1
  ,bytestring==0.10.8.2
  ,containers==0.5.11.0
  ,deepseq==1.4.3.0
  ,directory==1.3.1.5
  ,filepath==1.4.2
  ,ghc==8.4.2
  ,ghc-boot==8.4.2
  ,ghc-boot-th==8.4.2
  ,ghc-compact==0.1.0.0
  ,ghc-prim==0.5.2.0
  ,ghci==8.4.2
  ,haskeline==0.7.4.2
  ,hpc==0.6.0.3
  ,hscolour==1.24.4
  ,integer-gmp==1.0.2.0
  ,mtl==2.2.2
  ,parsec==3.1.13.0
  ,pretty==1.1.3.6
  ,process==1.6.3.0
  ,rts==1.0
  ,stm==2.4.5.0
  ,template-haskell==2.13.0.0
  ,terminfo==0.4.1.1
  ,text==1.2.3.0
  ,time==1.8.0.2
  ,transformers==0.5.5.0
  ,unix==2.7.2.2
  ,xhtml==3000.2.2.1
  ,GLFW==0.5.2.5
  ,GLURaw==2.0.0.4
  ,GLUT==2.7.0.14
  ,GenericPretty==1.2.2
  ,Glob==0.9.2
  ,Graphalyze==0.15.0.1
  ,HAAP==0.0.1
  ,HTTP==4000.3.12
  ,HUnit==1.6.0.0
  ,Hoed==0.5.1
  ,Hoed-extras==0.5.1
  ,HsYAML==0.1.1.2
  ,JuicyPixels==3.3.1
  ,MonadRandom==0.5.1.1
  ,ObjectName==1.1.0.1
  ,Only==0.1
  ,OpenGL==3.0.2.2
  ,OpenGLRaw==3.3.1.0
  ,QuickCheck==2.11.3
  ,SHA==1.6.4.4
  ,SourceGraph==0.7.0.8
  ,StateVar==1.1.1.1
  ,Xterm==0.0.1
  ,acid-state==0.14.3
  ,adjunctions==4.4
  ,aeson==1.3.1.1
  ,aeson-pretty==0.8.7
  ,ansi-terminal==0.8.0.4
  ,ansi-wl-pprint==0.6.8.2
  ,appar==0.1.4
  ,asn1-encoding==0.9.5
  ,asn1-parse==0.9.4
  ,asn1-types==0.3.2
  ,async==2.2.1
  ,attoparsec==0.13.2.2
  ,auto-update==0.1.4
  ,base-compat==0.10.4
  ,base-orphans==0.8
  ,base-prelude==1.3
  ,base16-bytestring==0.1.1.6
  ,base64-bytestring==1.0.0.1
  ,basement==0.0.8
  ,bifunctors==5.5.3
  ,bktrees==0.3.1
  ,blaze-builder==0.4.1.0
  ,blaze-html==0.9.1.1
  ,blaze-markup==0.8.2.1
  ,bmp==1.2.6.3
  ,brittany==0.11.0.0
  ,bsb-http-chunked==0.0.0.2
  ,butcher==1.3.1.1
  ,byteable==0.1.1
  ,byteorder==1.0.4
  ,bytestring-builder==0.10.8.1.0
  ,cabal-doctest==1.0.6
  ,call-stack==0.1.0
  ,case-insensitive==1.2.0.11
  ,cassava==0.5.1.0
  ,cereal==0.5.7.0
  ,cereal-text==0.1.0.2
  ,cereal-vector==0.2.0.1
  ,cipher-aes==0.2.11
  ,clientsession==0.9.1.2
  ,clock==0.7.2
  ,cmark-gfm==0.1.5
  ,cmdargs==0.10.20
  ,colour==2.3.4
  ,comonad==5.0.4
  ,conduit==1.3.0.3
  ,conduit-extra==1.3.0
  ,configurator==0.3.0.0
  ,connection==0.2.8
  ,constraints==0.10.1
  ,contravariant==1.5
  ,cookie==0.4.4
  ,cpphs==1.20.8
  ,cprng-aes==0.6.1
  ,crypto-api==0.13.3
  ,crypto-cipher-types==0.0.9
  ,crypto-random==0.0.9
  ,cryptohash==0.11.9
  ,cryptonite==0.25
  ,czipwith==1.0.1.0
  ,data-default==0.7.1.1
  ,data-default-class==0.1.2.0
  ,data-default-instances-containers==0.0.1
  ,data-default-instances-dlist==0.0.1
  ,data-default-instances-old-locale==0.0.1
  ,data-tree-print==0.1.0.1
  ,debug==0.1.2
  ,deque==0.2.1
  ,digest==0.0.1.2
  ,digestive-functors==0.8.4.0
  ,digestive-functors-heist==0.8.8.1
  ,digestive-functors-snap==0.7.0.1
  ,directory-tree==0.12.1
  ,distributive==0.6
  ,dlist==0.8.0.4
  ,doctemplates==0.2.2.1
  ,easy-file==0.2.2
  ,enclosed-exceptions==1.0.3
  ,entropy==0.4.1.1
  ,exceptions==0.10.0
  ,executable-path==0.0.3.1
  ,extensible-exceptions==0.1.1.4
  ,extra==1.6.9
  ,fail==4.9.0.0
  ,fast-logger==2.4.11
  ,fgl==5.6.0.0
  ,file-embed==0.0.10.1
  ,filemanip==0.3.6.3
  ,fixed==0.2.1.1
  ,foundation==0.0.21
  ,free==5.1
  ,fsnotify==0.3.0.1
  ,ghc-api-ghcjs==8.4.0
  ,ghc-exactprint==0.5.6.1
  ,ghc-paths==0.1.0.9
  ,ghci-ghcjs==8.4.0
  ,ghcjs==8.4.0.1
  ,ghcjs-th==0.1.0.0
  ,gloss==1.13.0.1
  ,gloss-rendering==1.13.0.2
  ,gloss-window==0.0.1
  ,graphviz==2999.20.0.2
  ,haddock-api==2.20.0
  ,haddock-api-ghcjs==2.20.0
  ,haddock-library==1.6.0
  ,haddock-library-ghcjs==1.6.0
  ,hakyll==4.12.3.0
  ,half==0.3
  ,hashable==1.2.7.0
  ,hashmap==1.3.3
  ,haskell-src-exts==1.20.2
  ,haskell-src-exts-util==0.2.3
  ,haskell-src-meta==0.8.0.3
  ,heist==1.1
  ,hflags==0.4.3
  ,hinotify==0.4
  ,hlint==2.1.10
  ,homplexity==0.4.3.5
  ,hourglass==0.2.12
  ,hs-bibutils==6.6.0.0
  ,hslua==0.9.5.2
  ,hslua-module-text==0.1.2.1
  ,hspec==2.5.5
  ,hspec-contrib==0.5.0
  ,hspec-core==2.5.5
  ,hspec-discover==2.5.5
  ,hspec-expectations==0.8.2
  ,http-client==0.5.13.1
  ,http-client-tls==0.3.5.3
  ,http-conduit==2.3.2
  ,http-date==0.0.8
  ,http-types==0.12.1
  ,http2==1.6.3
  ,hxt==9.3.1.16
  ,hxt-charproperties==9.2.0.1
  ,hxt-regex-xmlschema==9.2.0.3
  ,hxt-unicode==9.0.2.4
  ,integer-logarithms==1.0.2.1
  ,invariant==0.5.1
  ,io-streams==1.5.0.1
  ,io-streams-haproxy==1.0.0.2
  ,iproute==1.7.5
  ,jmacro==0.6.15
  ,kan-extensions==5.2
  ,knob==0.1.1
  ,lens==4.16.1
  ,libgraph==1.14
  ,lifted-async==0.10.0.2
  ,lifted-base==0.2.3.12
  ,lrucache==1.2.0.0
  ,map-syntax==0.3
  ,math-functions==0.3.0.1
  ,megaparsec==6.5.0
  ,memory==0.14.16
  ,microlens==0.4.9.1
  ,microlens-th==0.4.2.2
  ,mime-types==0.1.0.8
  ,mmorph==1.1.2
  ,monad-control==1.0.2.3
  ,monad-memo==0.4.1
  ,monads-tf==0.1.0.3
  ,mono-traversable==1.0.9.0
  ,multiset==0.3.4
  ,multistate==0.8.0.0
  ,mwc-random==0.13.6.0
  ,neat-interpolation==0.3.2.2
  ,network==2.7.0.2
  ,network-uri==2.6.1.0
  ,old-locale==1.0.0.7
  ,old-time==1.1.0.3
  ,open-browser==0.2.1.0
  ,optparse-applicative==0.14.2.0
  ,pandoc==2.2.3.2
  ,pandoc-citeproc==0.14.3.1
  ,pandoc-types==1.17.5.1
  ,parallel==3.2.2.0
  ,parseargs==0.2.0.8
  ,parsec-numbers==0.1.0
  ,parser-combinators==1.0.0
  ,pcre-light==0.4.0.4
  ,pem==0.2.4
  ,polyparse==1.12
  ,prettyprinter==1.2.1
  ,prettyprinter-ansi-terminal==1.1.1.2
  ,prettyprinter-compat-ansi-wl-pprint==1.0.1
  ,primitive==0.6.4.0
  ,profunctors==5.2.2
  ,psqueues==0.2.7.0
  ,pwstore-fast==2.4.4
  ,quickcheck-io==0.2.0
  ,random==1.1
  ,random-shuffle==0.0.4
  ,readable==0.3.1
  ,refact==0.3.0.2
  ,reflection==2.1.4
  ,regex-base==0.93.2
  ,regex-pcre-builtin==0.94.4.8.8.35
  ,regex-posix==0.95.2
  ,regex-tdfa==1.2.3.1
  ,regex-tdfa-text==1.0.0.3
  ,resourcet==1.2.1
  ,rfc5051==0.1.0.3
  ,safe==0.3.17
  ,safecopy==0.9.4.1
  ,scientific==0.3.6.2
  ,securemem==0.1.10
  ,semigroupoids==5.3.1
  ,semigroups==0.18.5
  ,setenv==0.1.1.3
  ,shelly==1.8.1
  ,simple-sendfile==0.2.27
  ,skein==1.0.9.4
  ,skylighting==0.7.2
  ,skylighting-core==0.7.2
  ,snap==1.1.1.0
  ,snap-core==1.0.3.2
  ,snap-exports==1.1.1.0
  ,snap-extras==0.12.2.1
  ,snap-server==1.1.0.0
  ,snaplet-acid-state==0.2.8
  ,socks==0.5.6
  ,split==0.2.3.3
  ,streaming-commons==0.2.1.0
  ,strict==0.3.2
  ,strict-io==0.2.2
  ,stringsearch==0.3.6.6
  ,syb==0.7
  ,system-fileio==0.3.16.3
  ,system-filepath==0.4.14
  ,system-locale==0.3.0.0
  ,tagged==0.8.6
  ,tagsoup==0.14.6
  ,tar==0.5.1.0
  ,template==0.2.0.10
  ,template-haskell-ghcjs==2.13.0.0
  ,temporary==1.3
  ,terminal-size==0.3.2.1
  ,texmath==0.11.0.1
  ,text-short==0.1.2
  ,tf-random==0.5
  ,th-abstraction==0.2.8.0
  ,th-expand-syns==0.4.4.0
  ,th-lift==0.7.11
  ,th-lift-instances==0.1.11
  ,th-orphans==0.13.6
  ,th-reify-many==0.1.8
  ,threepenny-gui==0.8.2.4
  ,time-locale-compat==0.1.1.5
  ,tls==1.4.1
  ,transformers-base==0.4.5.2
  ,transformers-compat==0.6.2
  ,typed-process==0.2.3.0
  ,union-find==0.2
  ,uniplate==1.6.12
  ,unix-compat==0.5.1
  ,unix-time==0.3.8
  ,unliftio-core==0.1.1.0
  ,unordered-containers==0.2.9.0
  ,unsafe==0.0
  ,utf8-string==1.0.1.1
  ,uuid-types==1.0.3
  ,vault==0.3.1.2
  ,vector==0.12.0.1
  ,vector-algorithms==0.7.0.4
  ,vector-th-unbox==0.2.1.6
  ,void==0.7.2
  ,wai==3.2.1.2
  ,wai-app-static==3.1.6.2
  ,wai-extra==3.0.24.2
  ,wai-logger==2.3.2
  ,warp==3.2.23
  ,websockets==0.12.5.1
  ,websockets-snap==0.10.3.0
  ,wl-pprint-text==1.2.0.0
  ,word8==0.1.3
  ,x509==1.7.3
  ,x509-store==1.6.6
  ,x509-system==1.6.6
  ,x509-validation==1.6.10
  ,xml==1.3.14
  ,xml-conduit==1.8.0
  ,xml-types==0.3.6
  ,xmlhtml==0.2.5.2
  ,yaml==0.8.32
  ,z-haddock-library-ghcjs-z-attoparsec==1.6.0
  ,z-haddock-library-z-attoparsec==1.6.0
  ,zip-archive==0.3.3
  ,zlib==0.6.2
  ,zlib-bindings==0.1.1.5 