constraints:
    GLFW==0.5.2.5
    ,GLURaw==2.0.0.4
    ,GLUT==2.7.0.13
    ,GenericPretty==1.2.2
    ,Graphalyze==0.15.0.0
    ,HAAP==0.0.1
    ,HTTP==4000.3.11
    ,HUnit==1.6.0.0
    ,JuicyPixels==3.2.9.5
    ,MonadRandom==0.5.1
    ,ObjectName==1.1.0.1
    ,Only==0.1
    ,OpenGL==3.0.2.1
    ,OpenGLRaw==3.3.0.1
    ,QuickCheck==2.11.3
    ,SHA==1.6.4.4
    ,SourceGraph==0.7.0.8
    ,StateVar==1.1.1.0
    ,acid-state==0.14.3
    ,adjunctions==4.4
    ,aeson==0.11.3.0
    ,aeson-pretty==0.8.7
    ,ansi-terminal==0.8.0.4
    ,ansi-wl-pprint==0.6.8.2
    ,appar==0.1.4
    ,asn1-encoding==0.9.5
    ,asn1-parse==0.9.4
    ,asn1-types==0.3.2
    ,async==2.2.1
    ,attoparsec==0.13.2.2
    ,auto-update==0.1.4
    ,base-compat==0.10.1
    ,base-orphans==0.7
    ,base16-bytestring==0.1.1.6
    ,base64-bytestring==1.0.0.1
    ,basement==0.0.7
    ,bifunctors==5.5.2
    ,bktrees==0.3.1
    ,blaze-builder==0.4.1.0
    ,blaze-html==0.9.0.1
    ,blaze-markup==0.8.2.1
    ,bmp==1.2.6.3
    ,bsb-http-chunked==0.0.0.2
    ,byteable==0.1.1
    ,byteorder==1.0.4
    ,bytestring-builder==0.10.8.1.0
    ,cabal-doctest==1.0.6
    ,call-stack==0.1.0
    ,case-insensitive==1.2.0.11
    ,cassava==0.5.1.0
    ,cereal==0.5.5.0
    ,clock==0.7.2
    ,cmark==0.5.6
    ,cmdargs==0.10.20
    ,colour==2.3.4
    ,comonad==5.0.3
    ,conduit==1.2.13.1
    ,conduit-extra==1.2.3.2
    ,connection==0.2.8
    ,constraints==0.10
    ,contravariant==1.4.1
    ,cookie==0.4.4
    ,cpphs==1.20.8
    ,cryptohash==0.11.9
    ,cryptonite==0.25
    ,data-default==0.7.1.1
    ,data-default-class==0.1.2.0
    ,data-default-instances-containers==0.0.1
    ,data-default-instances-dlist==0.0.1
    ,data-default-instances-old-locale==0.0.1
    ,digest==0.0.1.2
    ,distributive==0.5.3
    ,dlist==0.8.0.4
    ,doctemplates==0.1.0.2
    ,easy-file==0.2.1
    ,enclosed-exceptions==1.0.2
    ,exceptions==0.8.3
    ,executable-path==0.0.3.1
    ,extensible-exceptions==0.1.1.4
    ,extra==1.6.5
    ,fail==4.9.0.0
    ,fast-logger==2.4.11
    ,fgl==5.5.3.1
    ,file-embed==0.0.10.1
    ,filemanip==0.3.6.3
    ,fixed==0.2.1.1
    ,foundation==0.0.20
    ,free==4.12.4
    ,fsnotify==0.2.1.2
    ,ghc-paths==0.1.0.9
    ,ghcjs==0.2.1.9007019
    ,gloss==1.12.0.0
    ,gloss-rendering==1.12.0.0
    ,graphviz==2999.19.0.0
    ,haddock-api==2.17.4
    ,haddock-library==1.4.3
    ,hakyll==4.9.8.0
    ,half==0.3
    ,hashable==1.2.7.0
    ,haskell-src-exts==1.18.2
    ,haskell-src-meta==0.7.0.1
    ,hflags==0.4.3
    ,hinotify==0.3.10
    ,hlint==2.0.9
    ,homplexity==0.4.3.5
    ,hourglass==0.2.11
    ,hs-bibutils==6.2.0.1
    ,hslua==0.4.1
    ,hspec==2.5.0
    ,hspec-contrib==0.5.0
    ,hspec-core==2.5.0
    ,hspec-discover==2.5.0
    ,hspec-expectations==0.8.2
    ,http-client==0.5.12.1
    ,http-client-tls==0.3.5.3
    ,http-conduit==2.2.4
    ,http-date==0.0.7
    ,http-types==0.9.1
    ,http2==1.6.3
    ,hxt==9.3.1.16
    ,hxt-charproperties==9.2.0.1
    ,hxt-regex-xmlschema==9.2.0.3
    ,hxt-unicode==9.0.2.4
    ,integer-logarithms==1.0.2.1
    ,iproute==1.7.4
    ,kan-extensions==5.1
    ,knob==0.1.1
    ,lens==4.15.4
    ,lifted-async==0.10.0.1
    ,lifted-base==0.2.3.12
    ,lrucache==1.2.0.0
    ,memory==0.14.16
    ,mime-types==0.1.0.7
    ,mmorph==1.1.2
    ,monad-control==1.0.2.3
    ,mtl==2.2.2
    ,multiset==0.3.3
    ,network==2.6.3.5
    ,network-uri==2.6.1.0
    ,old-locale==1.0.0.7
    ,old-time==1.1.0.3
    ,optparse-applicative==0.12.1.0
    ,pandoc==1.19.2.4
    ,pandoc-citeproc==0.10.5.1
    ,pandoc-types==1.17.0.5
    ,parallel==3.2.1.1
    ,parsec==3.1.13.0
    ,pem==0.2.4
    ,polyparse==1.12
    ,prelude-extras==0.4.0.3
    ,primitive==0.6.1.0
    ,profunctors==5.2.2
    ,psqueues==0.2.7.0
    ,quickcheck-io==0.2.0
    ,random==1.1
    ,random-shuffle==0.0.4
    ,refact==0.3.0.2
    ,reflection==2.1.3
    ,regex-base==0.93.2
    ,regex-pcre-builtin==0.94.4.8.8.35
    ,regex-posix==0.95.2
    ,regex-tdfa==1.2.3
    ,resourcet==1.1.11
    ,rfc5051==0.1.0.3
    ,safe==0.3.17
    ,safecopy==0.9.4.1
    ,scientific==0.3.6.2
    ,semigroupoids==5.2.2
    ,semigroups==0.18.4
    ,setenv==0.1.1.3
    ,shelly==1.6.9
    ,simple-sendfile==0.2.27
    ,skylighting==0.1.1.5
    ,socks==0.5.6
    ,split==0.2.3.3
    ,stm==2.4.5.0
    ,streaming-commons==0.1.19
    ,stringsearch==0.3.6.6
    ,syb==0.6
    ,system-fileio==0.3.16.3
    ,system-filepath==0.4.14
    ,system-locale==0.2.0.0
    ,tagged==0.8.5
    ,tagsoup==0.14.6
    ,tar==0.5.1.0
    ,template==0.2.0.10
    ,temporary==1.2.1.1
    ,texmath==0.9.4.4
    ,text==1.2.3.0
    ,text-short==0.1.2
    ,tf-random==0.5
    ,th-abstraction==0.2.6.0
    ,th-expand-syns==0.4.4.0
    ,th-lift==0.7.8
    ,th-lift-instances==0.1.11
    ,th-orphans==0.13.5
    ,th-reify-many==0.1.8
    ,time-locale-compat==0.1.1.4
    ,tls==1.4.1
    ,transformers-base==0.4.4
    ,transformers-compat==0.5.1.4
    ,typed-process==0.2.2.0
    ,uniplate==1.6.12
    ,unix-compat==0.4.3.1
    ,unix-time==0.3.8
    ,unliftio-core==0.1.1.0
    ,unordered-containers==0.2.9.0
    ,utf8-string==1.0.1.1
    ,vault==0.3.1.0
    ,vector==0.11.0.0
    ,void==0.7.2
    ,wai==3.2.1.2
    ,wai-app-static==3.1.6.2
    ,wai-extra==3.0.22.0
    ,wai-logger==2.3.2
    ,warp==3.2.22
    ,wl-pprint-text==1.1.1.1
    ,word8==0.1.3
    ,x509==1.7.3
    ,x509-store==1.6.6
    ,x509-system==1.6.6
    ,x509-validation==1.6.10
    ,xml==1.3.14
    ,xml-conduit==1.5.1
    ,xml-types==0.3.6
    ,yaml==0.8.30
    ,zip-archive==0.3.2.4
    ,zlib==0.6.2
