
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=$projectpath$/css/normalize.css>
    <link rel="stylesheet" href=$projectpath$/css/style.css>
    <title>$projectname$ - Feedback por Grupo - $group$</title>
</head>

<body>
<div id="demo">
<h1>Feedback por Grupo - $group$</h1>

<p>Data da última actualização: $date$</p>

<p><b>No caso de esta página não ser actualizada periodicamente, não reportar a versão do SVN mais recente ou apresentar erros, por favor fazer um novo commit no SVN de forma a "forçar" a sua actualização.</b></p>

<h2>Tarefas</h2>

<p>Esta secção apresenta feedback discriminado por tarefa.</p>

<h3>Tarefa 1</h3>

<p><a href="$specT1path$">Testes</a></p>
<p><a href="$hpcT1path$">Cobertura dos Testes (HPC)</a></p>
<p><a href="$mapviewerpath$">Visualizador de Caminhos (Ideal)</a></p>

<h3>Tarefa 2</h3>

<p><a href="$specT2path$">Testes</a></p>
<p><a href="$hpcT2path$">Cobertura dos Testes (HPC)</a></p>
<p><a href="$mapviewerpath$">Visualizador de Mapas (Ideal)</a></p>

<h3>Tarefa 3</h3>

<p><a href="$specT3path$">Testes</a></p>
<p><a href="$hpcT3path$">Cobertura dos Testes (HPC)</a></p>
<p><a href="$collisionsimulatorpath$">Simulador de Colisões (Grupo)</a></p>
<p><a href="$collisionviewerpath$">Visualizador de Colisões (Ideal)</a></p>

<h3>Tarefa 4</h3>

<p><a href="$specT4path$">Testes</a></p>
<p><a href="$hpcT4path$">Cobertura dos Testes (HPC)</a></p>
<p><a href="$moveviewerpath$">Visualizador de Movimentos (Ideal)</a></p>

<h2>Qualidade</h2>

<p>Esta secção disponibiliza relatórios de ferramentas automáticas que podem conter sugestões úteis para melhorar a qualidade global do trabalho do grupo.</p>

$for(haddocks)$
<p><a href="$haddock$">Documentação (Haddock)</a></p>
$endfor$
<p><a href="$hlint$">Estilo de Programação (HLint)</a></p>
<p><a href="$homplexity$">Complexidade do Código (Homplexity)</a></p>

</div>
</body>

</html>


