<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="$projectpath$/css/normalize.css">
    <link rel="stylesheet" href="$projectpath$/css/style.css">
    <title>$title$</title>
  </head>

  <body>
  <div id="demo">
  <h1>$title$</h1>
  
  <p>Bem-vindo ao Sistema de Feedback automático da cadeira de <i>Laboratórios de Informática 1</i>, MIEI-UM.</p>
  
  <p>Esta página é actualizada regularmente.</p>
  
  <p>Última actualização a <b>$lastupdate$</b>.</p>
  
  <p><b>Toda a informação disponibilizada nesta página é facultativa para a realização do trabalho de grupo e não reflete directamente a nota obtida por cada grupo no fim de cada fase de avaliação.</b></p>
  
  <p>Feedback individual:</p>
  <ul>
      <li><a href="grupos.html">Grupos</a></li>
  </ul>
  
  <p>Feedback global:</p>
  <ul>
      <li><a href="mapviewer/MapViewer.jsexe/run.html">Visualizador de Caminhos e Mapas</a></li>
      <li><a href="collisionviewer/CollisionViewer.jsexe/run.html">Visualizador de Colisões</a></li>
      <li><a href="moveviewer/MoveViewer.jsexe/run.html">Visualizador de Movimentos</a></li>
  </ul>
  
  
  <p>Rankings globais:</p>
  <ul>
     <li><a href="ranks/t3.html">Tarefa 3</a></li>
     <li><a href="tourneys/t6/tourneys.html">Tarefa 6</a></li>
  </ul>
  
  <p>Biblioteca comum:</p>
  <ul>
      $for(libfiles)$
      <li><a href="$libpath$">$libname$</a></li>
      $endfor$
  </ul>
  

  </div>
</div>
  </body>
</html>
