<!DOCTYPE html>
<html>
  <head>
    
    <script src="$projectpath$/js/polyfill.min.js?features=default,Array.prototype.find,Number.isFinite,Number.isInteger,console,console.log,document.head,performance.now"></script>
      <title>CodeWorld - $title$</title>
      <link rel="stylesheet" href="$projectpath$/css/codeworld.css">
    
    <script type="text/javascript" src="$projectpath$/js/cw-demo.js"></script>
    <script language="javascript" src="$runpath$/rts.js"></script>
    <script language="javascript" src="$runpath$/lib.js"></script>
    <script language="javascript" src="$runpath$/out.js"></script>
  </head>
  <body style="text-align: center">
      
    <canvas id="screen" class="widescreen"></canvas>
    <textarea style="display: none;" id="text">$textmessage$</textarea>
    <pre id="message" class="dropbox game">$message$</pre>
    
    $for(images)$
    <img style="visibility: hidden;" id="$imgid$" src="$projectpath$/$imgfile$">
    $endfor$
    $for(audios)$
    <audio id="$audioid$"> <source src="$projectpath$/$audiofile$" type="audio/$audiotype$"> </audio>
    $endfor$
    
  </body>
  
  <script type="text/javascript">
    function addMessage(err, str) {
      if (window.parent.addToMessage) {
        var message = window.parent.addToMessage('\n' + str);
        var msgelem = window.parent.document.getElementById('message');
        msgelem.scrollTop = msgelem.scrollHeight;

        if (err) {
          msgelem.classList.add('error');
        }
      } else {
        console.log(str);
      }
    }
  </script>
  
  <script type="text/javascript" src="$runpath$/runmain.js"></script>
  <script type="text/javascript" src="$projectpath$/js/ghcjs-debugmode.js"></script>
</html>
