

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="$projectpath$/css/normalize.css">
    <link rel="stylesheet" href="$projectpath$/css/style.css">
    <script src="$projectpath$/js/run_prettify.js"></script>
    <title>$title$</title>
</head>

<body>
    <h1>$title$ - Haddock report</h1>
    
    $for(haddocks)$
        <h2>$name$</h2>
    
        <h3>Haddock output</h3>
        <pre class="prettyprint default">$stdout$</pre>
    
        <h3>Haddock errors</h3>
        <pre class="prettyprint default">$stderr$</pre>
    
        <h3>Haddock documentation</h3>
        <p><a href=$link$>haddock</a></p>
    $endfor$

</body>

</html>