

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=$projectpath$/css/normalize.css>
    <link rel="stylesheet" href=$projectpath$/css/style.css>
    <title>$title$</title>
</head>

<body>
    <h1>$title$ - Haddock report</h1>
    
    $for(haddocks)$
        <h2>$name$</h2>
    
        <h3>Haddock output</h3>
        <pre><code>$stdout$</code></pre>
    
        <h3>Haddock errors</h3>
        <pre><code>$stderr$</code></pre>
    
        <h3>Haddock documentation</h3>
        <p><a href=$link$>haddock</a></p>
    $endfor$

</body>

</html>