

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=$projectpath$/css/normalize.css>
    <link rel="stylesheet" href=$projectpath$/css/style.css>
    <title>$title$</title>
</head>

<body>
    <h1>$title$ - Haddock report</h1>
    
    <h2>Haddock output</h2>
    <pre><code>$stdout$</code></pre>
    
    <h2>Haddock errors</h2>
    <pre><code>$stderr$</code></pre>
    
    <h2>Haddock documentation</h2>
    <p><a href=$link$>haddock</a></p>
</body>

</html>