
<!DOCTYPE html>
<html>

<head>
    <meta charset=\"UTF-8\">
    <link rel="stylesheet" href=$projectpath$/css/normalize.css>
    <link rel="stylesheet" href=$projectpath$/css/style.css>
    <title>$title$</title>
</head>

<body>
<div id="demo">

<div id="tablediv" class="table-responsive-vertical shadow-z-1">
<table id="table" class="table table-hover table-mc-light-blue">
    <thead>
        <tr>
            $for(headers)$
                <th>$header$</th>
            $endfor$
            <th>Resultado</th>
        </tr>
    </thead>
    <tbody>
        $for(rows)$
            <tr>
                $for(cols)$
                <td data-title=$col$>$col$</td>
                $endfor$
                <td class=$class$ data-title="Resultado">$result$</td>
            </tr>
        $endfor$
    </tbody>
</table>

</div>

<p>$notes$</p>

</body>

</html>
