<!DOCTYPE html>
<html>
  <head>
    
      <title>Xterm - $title$</title>
    
    <script language="javascript" src="$runpath$/rts.js"></script>
    <script language="javascript" src="$runpath$/lib.js"></script>
    <script language="javascript" src="$runpath$/out.js"></script>
    
    <link rel="stylesheet" href="$projectpath$/css/xterm.css" />
    <script src="$projectpath$/js/xterm.js"></script>
    
  </head>
  <body style="text-align: center">
      <div id="terminal" style="width: 100vw; height: 100vh; overflow-y: scroll;"></div>
  </body>
  
  <script language="javascript" src="runmain.js" defer></script>
</html>
